@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.main-div {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
