@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    display: flex;
    height: 10rem;
    anchor-name: --carousel;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(*) {
    border: 0.1rem solid #e5e5e5;
    border-radius: 100%;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    background: none;
    color: black;
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    position-anchor: --carousel;
    top: calc(anchor(top) + 4rem);

    --carousel-button-margin: 1rem;
}

.carousel::scroll-button(*):hover,
.carousel::scroll-button(*):focus {
    opacity: 1;
}

.carousel::scroll-button(*):active {
    translate: 1px 1px;
}

.carousel::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

.carousel::scroll-button(left) {
    content: '◄';
    right: calc(anchor(left) + var(--carousel-button-margin));
}

.carousel::scroll-button(right) {
    content: '►';
    left: calc(anchor(right) + var(--carousel-button-margin));
}

.carousel-item {
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
    transition: transform 2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item > img {
    width: 70%;
}
